[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openhtf = "*"
autopep8 = "*"
protobuf = "*"
grpcio = "*"
grpcio-tools = "*"
tofupilot = "*"
tomlkit = "*"
paramiko = "*"
pyqt6 = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.0"

[scripts]
generate-pyproject-toml = "python scripts/generate_pyproject_toml.py"
